{% extends 'index.html' %}
{% block content %}
  {% for product in products %}
    <div class="product-card">
      <img src="{{ product.image_url }}" alt="{{ product.name }}" class="product-image" />
      <div class="product-info">
        <h2 class="product-title">{{ product.name }}</h2>
        <p class="product-description">{{ product.description }}</p>
        <div class="product-price-and-favorite">
          <p class="product-price">₺{{ product.price }}</p>
          <button class="add-to-favorite"><i class="fa-regular fa-heart"></i></button>
          <button class="add-to-cart-button">Sepete Ekle</button>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock %}
