{% load static %}
{% block content %}
  <!-- Carousel -->
  <div class="carousel-container">
    <div class="carousel">
      <div class="carousel-item">
        <img src="{% static 'img/1.jpg' %}" alt="Image 1" />
      </div>
      <div class="carousel-item">
        <img src="{% static 'img/2.jpg' %}" alt="Image 2" />
      </div>
      <div class="carousel-item">
        <img src="{% static 'img/3.jpg' %}" alt="Image 3" />
      </div>
      {% comment %} <div class="carousel-item">
        <img src="img/image4.jpg" alt="Image 4" />
      </div>
      <div class="carousel-item">
        <img src="img/image5.jpg" alt="Image 5" />
      </div>
      <div class="carousel-item">
        <img src="img/image6.jpg" alt="Image 6" />
      </div>
      <div class="carousel-item">
        <img src="img/image7.jpg" alt="Image 7" />
      </div>
      <div class="carousel-item">
        <img src="img/image8.jpg" alt="Image 8" />
      </div>
      <div class="carousel-item">
        <img src="img/image9.jpg" alt="Image 9" />
      </div>
      <div class="carousel-item">
        <img src="img/image10.jpg" alt="Image 10" />
      </div> {% endcomment %}
    </div>
    <button class="carousel-control prev" onclick="prevSlide()">&#10094;</button>
    <button class="carousel-control next" onclick="nextSlide()">&#10095;</button>
  </div>

  <!-- Carousel -->
{% endblock %}
<script src="script.js"></script>
