<!-- Footer Başlangıç -->
<footer>
  <div class="footer-container">
    <div class="footer-section">
      <h3 class="header">Hakkımızda</h3>
      <p>Markamız, en kaliteli makyaj ürünlerini siz değerli müşterilerimize sunmayı hedefler.</p>
    </div>
    <div class="footer-section">
      <h3 class="header">Kategoriler</h3>
      <ul>
        <li>
          <a href="#">Rujlar</a>
        </li>
        <li>
          <a href="#">Fondötenler</a>
        </li>
        <li>
          <a href="#">Göz Farları</a>
        </li>
      </ul>
    </div>
    <div class="footer-section">
      <h3 class="header">Bülten</h3>
      <form>
        <input type="email" placeholder="E-posta adresinizi girin" />
        <button type="submit">Abone Ol</button>
      </form>
    </div>
  </div>
  <div class="copyright">
    <p>Tüm hakları saklıdır &copy; 2024 MakyajEticaret.com</p>
  </div>
</footer>
<!-- Footer Bitiş -->
<script src="script.js"></script>

<script src="https://kit.fontawesome.com/767955e4cb.js" crossorigin="anonymous"></script>
