<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=,, initial-scale=1.0">
        <title>Yukarı Çıkan Ok :) </title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="scroll-to-top" onclick="scrollToChat()">
            <i class="fas fa-chevron-up"></i>
        </div>

        <script src="https://kit.fontawesome.com/767955e4cb.js"
            crossorigin="anonymous"></script>
    </body>
</html>